* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none;
}

/*----------- BODY ----------------*/
body {
    font-size: 16px;
}




/*---------- HEADER -----------------*/
header {
    padding: 1em $gutter .5em $gutter;
    border-bottom: solid 1px $ltgrey;

    h1,
    h2 {
        display: none;
    }

    .logo {
        float: left;
    }

    .logo img {
        width: 200px;
    }


}

/*---------- SOCIAL -----------------*/
.social {
    float: right;
    padding-top: .5em;
    z-index: 99;
}

.social li {
    float: right;
}

.social li a {
    display: block;
    padding-left: 10px;
}



nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $menu-color;
    height: 44px;
    width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}