@media only screen and (min-width: 720px) {

    /*------------  HEADER ---------------*/
    header .logo img {
        width: auto;
    }



    /*------------ SOCIAL ---------------*/
    header .social {
        position: relative;
        float: right;
    }
}