html,
body,
p,
div,
h1,
h2,
h3,
h4,
a,
img,
ul,
li,
ol,
span,
header,
nav,
footer,
section,
article,
object,
video {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    border: none;
    background: transparent;
    vertical-align: baseline;
    font-family: 'OpenSans', Arial, serif;
    color: #1a1a1a;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

/*header*/

header {
    padding: 1.3em;
}

.nav__list,
.nav__search__input,
.nav__search__img {
    display: none;
}

.logo h1 {
    visibility: hidden;
    width: 1px;
    height: 1px;
}

.logo,
.nav {
    vertical-align: middle;
    width: 50%;
    float: left;
    display: inline-block;
}

.nav__menu,
.nav__more {
    font-weight: 700;
    margin-top: 0.5em;
    margin-bottom: 0;
    text-align: right;
    font-size: 0.8em;
}

.nav__more {
    width: 100%;
}

.search__form {
    display: inline-block;
    box-shadow: 5px 5px 10px -3px lightgray;
}

.search__form__input {
    border: none;
}

.twitter_img,
.fb_img {
    width: 2rem;
    vertical-align: middle;
}

.gray_color {
    color: lightgray;
}

.nav__more {
    display: none;
}

.nav__menu {
    text-align: right;
}

/*container*/
.container {
    clear: both;
    margin-top: 2.5rem;
}

.search__lists {
    display: none;
}

.search {
    font-size: 0.9em;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

.search__text {
    margin-bottom: 1rem;
}

/**container img**/
.container__img img {
    width: 100%;
}

.container__img {
    background-color: #000;
    color: #fff;
}

.container__img figcaption {
    text-align: center;
    font-size: 0.7em;
}

.container__img__text {
    margin-top: -16px;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #000;
}

.container__img__list {
    padding: 0 1em;
    list-style: none;
    padding-bottom: 1em;
}

.container__img__list li {
    font-size: 0.9em;
    color: #fff;
    display: inline-block;
    padding-right: 0.5em;
}

.blue_color {
    color: skyblue;
}

.footer__JoinUs {
    display: none;
}

/*spotlights*/

.spotlights {
    margin-top: -16px;
    color: #fff;
    background-color: #000;
    padding: 0.5em 1em;
}

.spotlights__list {
    list-style: none;
    font-size: 0.9em;
}

.spotlights__list li,
.spotlights__title {
    color: grey;
}

.spotlights__list li {
    padding: 1.6em 0;
    border-bottom: 1px solid slategrey;
}

.spotlights__title {
    text-align: center;
    font-size: 1em;
    margin-top: 1em;
}

.spotlights__list li time {
    float: right;
}

/*footer*/
.footer__Mit {
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.footer__Mit__list {
    display: none;
}

.footer__Mit__h3 {
    font-size: 1rem;
}

.footer__Mit__address {
    margin-top: 1.2rem;
    font-size: 0.8rem;
}

@media screen and (min-width: 576px) {

    .nav__menu {
        display: none;
    }

    .logo {
        width: 30%;
    }

    .nav {
        width: 70%;
    }

    .nav__more {
        display: inline-block;
        width: 20%;

        text-align: left;
    }

    .nav__list {
        text-align: right;
        display: inline-block;
        width: 60%;
        margin-right: 0;
    }

    .nav__list li {
        display: inline-block;
        font-size: 0.7rem;
        padding-right: 1rem;
    }

    .nav__list li:nth-child(4),
    .nav__list li:nth-child(5),
    .nav__list li:nth-child(6),
    .nav__list li:nth-child(7),
    .nav__list li:nth-child(8) {
        display: none;
    }

    .nav__search__img {
        display: block;
        width: 20px;
        margin-right: 0;
    }

    .nav__search {
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {

    .nav__list li:nth-child(4),
    .nav__list li:nth-child(5),
    .nav__list li:nth-child(6) {
        display: inline-block;
    }

    .nav__search {
        float: right;
        padding-top: 0.8rem;
    }

    .nav__list {
        width: 93%;
        padding-top: 0.5rem;
    }

    .nav__more {
        width: 5%;
    }
}

@media screen and (min-width: 992px) {

    .nav__list li:nth-child(7),
    .nav__list li:nth-child(8) {
        display: inline-block;
    }

    .nav__more {
        display: none;
    }

    .nav {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .section_1 {
        display: flex;
        flex-direction: row;
    }

    .spotlights {
        display: block;
        width: 729px;
        float: right;
    }

    .search__lists {
        margin: 0.5rem 0;
        padding: 1rem;
        display: flex;
        flex-direction: row;
    }

    .search__h2 {
        font-size: 1rem;
        font-weight: bold;
    }

    .search__ul,
    .search__ul {
        text-align: left;
        padding: 1rem;
    }

    .search__ul li {
        font-size: 0.8rem;
    }

    .search__ul li::before {
        content: "_ ";
        color: skyblue;
    }

    footer {
        width: 446px;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 800px;
    }

    .footer__Mit {
        width: 279px;
        text-align: left;
        padding: 0.5rem;
    }

    .footer__Mit__address {
        margin-top: 0;
        margin: 0;
        font-size: 0.7rem;
    }

    .footer__Mit__h3 {
        font-size: 0.7rem;
        font-weight: bold;
    }

    .footer__Mit__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 0.7rem;
    }

    .footer__Mit__list li {
        padding-right: 0.5rem;
    }

    .footer__Mit__list li img {
        width: 15px;
    }

    .footer__JoinUs {
        display: block;
        margin-left: 40px;
        margin-top: 18px;
        width: 84px;
        height: 66px;
        border: 1px solid skyblue;
        padding: 0.7rem 0.7rem 0.4rem 0.5rem;
        font-size: 0.7rem;
    }
}