html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

body {
    line-height: 1;
    width: 100%;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="checkbox"],
input[type="radio"],
select {
    cursor: pointer;
}

*[disabled] {
    cursor: default;
    color: #999;
    background-color: #DDD;
}

textarea {
    resize: none;
}

body {
    /*background-color: #1652F0;*/
    font-size: 14px;
    color: #fff;
    display: block;
    width: 100%;
}

/***header***/
header {
    background-color: #1652F0;
    display: inline-block;
    width: 95%;
    margin: 0 auto;
    padding: 5% 2.5%;
}

.header__h1,
.header__form {
    display: inline-block;
}

.header__h1 {
    width: 35%;
    font-size: 1.6rem;
    margin-top: 12px;
}

.header__form {
    width: 40%;
}

.header__form form input {
    background-color: #1652F0;
    color: #fff;
}

.header__list,
.header__sign-in {
    display: none;
}

.header__get-started {
    border: 1px solid #fff;
    padding: 1rem;
    width: 83px;
    position: absolute;
    right: 62px;
    top: 20px;
}

.lines {
    width: 30%;
}

.lines div {
    width: 34px;
    height: 5px;
    background-color: #fff;
    position: absolute;
}

.lines__one {
    top: 33px;
    right: 20px;
}

.lines__two {
    top: 44px;
    right: 20px;
}

.lines__three {
    top: 55px;
    right: 20px;
}

.header__sign-in {
    border: none;
}

.section__h2 {
    text-align: center;
    font-size: 2.7rem;
    font-weight: 600;
    margin: 25px 10%;
}

.section {
    background-color: #1652F0;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 160px;
    padding-top: 5px;
}

.section__text {
    text-align: center;
    margin: 0 15%;
    line-height: 1.5rem;
}

.section__form {
    margin: 10%;
    text-align: center;
}

.section__email,
.section__starter {
    width: 200px;
    padding: 0.8rem;
    margin-bottom: 20px;
    border: none;
}

.section__starter {
    background-color: #3CCB90;
    color: #fff;
}

.images {
    background-color: #fff;
    position: absolute;
    width: 80%;
    margin: 0 10%;
}

.images div {
    width: 80%;
    margin: 30px 10%;
}

.images img {
    width: 100%;
}

.images__one {
    position: absolute;
    top: -100px;
}

.images .images__two {
    margin-top: 182px;
}

.section__bottom {
    width: 100%;
    display: block;
    margin-top: 1100px;
    margin-left: 0;
}

.section__bottom__img {
    display: block;
    margin: 10px 23%;
}

#form {
    display: none;
    background-color: #fffffb;
    position: fixed;
    height: 275px;
    z-index: 1;
    left: 0;
    top: 100px;
    width: 80%;
    margin: 0 10%;
    overflow: auto;
    padding: 50px 0 5px;
    color: #000009;
}

#form h3 {
    text-align: center;
}

#form div {
    padding-left: 44px;
    width: 90%;
    margin: 5% 0;
}

@media screen and (min-width: 399px) {
    .images img {
        height: 200px;
    }
}

@media screen and (min-width: 520px) {
    .header__h1 {
        margin-top: 2px;
    }

    .images {
        width: 90%;
        margin: 0 5%;
    }

    .images div {
        display: inline-block;
        margin: 3%;
        width: 45%;
    }

    .images__one {
        top: -66px;
        position: absolute;
    }

    .images__two {
        top: -233px;
        left: 49%;
        position: absolute;
    }

    .images .images__three {
        margin-top: 180px;
    }

    .images__four {
        left: 49%;
        top: 165px;
        position: absolute;
    }

    .images .images__five {
        margin-left: 27%;
        margin-top: 5px;
    }

    .section__starter {
        width: 100px;
    }
}

@media screen and (min-width: 776px) {
    .images {
        width: 100%;
        margin: 0;
    }

    .images div {
        width: 30%;
        margin: 1% 3%;
    }

    .images .images__two {
        top: -241px;
        left: 31.5%;
    }

    .images .images__three {
        top: -239px;
        right: 5px;
        position: absolute;
    }

    .images .images__four {
        position: absolute;
        top: 165px;
        left: 15%;
    }

    .images .images__five {
        position: absolute;
        top: 168px;
        left: 50%;
        margin-left: 0;
    }

    .lines {
        display: none;
    }

    .header__list {
        display: block;
        display: inline-block;
        width: 24%;
        text-align: center;
    }

    .header__list li {
        display: inline-block;
        padding: 1rem;
    }

    .header__h1 {
        width: 20%;
    }

    .header__list {
        width: 51%;
    }

    .header__get-started {
        top: 47px;
    }

    .section__h2 {
        margin: 25px 25%;
    }

    .header__span {
        font-size: 0.7rem;
        font-weight: 200;
        vertical-align: middle;
    }

    .section__form {
        margin: 5% 10%;
    }
}

@media screen and (min-width: 1200px) {
    header {
        padding: 30px 2.5%;
    }

    .header__sign-in {
        display: inline-block;
        width: 45%;
    }

    .header__h1 {
        width: 8%;
    }

    .header__list {
        width: 58%;
    }

    .header__get-started {
        top: 31px;
        width: 9%;
    }

    .header__form {
        width: 30%;
    }

    .images div {
        position: relative;
        width: 170px;
        margin: 1% 10px;
    }

    .images {
        width: 80%;
        margin: 0 auto;
        margin-left: 10%;
    }

    .images .images__one {
        top: -227px;
    }

    .images .images__two {
        left: 1px;
        top: -227px;
    }

    .images .images__three {
        left: 387px;
        top: -227px;
    }

    .images .images__four {
        left: 581px;
        top: -60px;
    }

    .images .images__five {
        left: 784px;
        top: -53px;
    }

}